<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <style>
    a:hover {
      background-color: #a7ffeb;
    }
    .p3 {
      font-family: "Lucida Console", "Courier New", monospace;
    }
  </style>
  <title>🤖tech.kooijman.se</title>
</head>

<body>
  <div class="container">
    <nav class="z-depth-0">
      <div class="nav-wrapper white">
        <a href="/index.html" class="brand-logo center black-text">🤖 tech.kooijman</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a class="black-text" href="/index.html"><p class="p3">~/</p></a></li>
          <li><a class="black-text" href="about.html"><p class="p3">~/about</p></a></li>
          <li><a class="black-text" href="projects.html"><p class="p3">~/projects</p></a></li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <div class="col s12 m4 l2">
        <p></p>
      </div>
      <div class="col s12 m4 l12">
        <p>
          {% block content %} {% endblock %}
        </p>
      </div>
      <div class="col s12 m4 l2">
        <p></p>
      </div>
    </div>
</body>

</html>